<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--앱에 이미지 권한을 부여하기 위한 코드-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:maxSdkVersion="33" />
    <!--앱이 인터넷에 접근하기 위한 권한-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--android:usesCleartextTraffic="true" 라인은 https가 아닌 http 통신을 위한 라인-->
    <application
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CBT7"
        tools:targetApi ="31">
        <activity
            android:name=".LookupActivity"/>
        <activity
            android:name=".ProfileActivity"/>
        <activity
            android:name=".AlarmActivity"/>
        <activity
            android:name=".MyarticleActivity"/>
        <activity
            android:name=".WriteActivity"/>
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ChatListActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>